{% extends 'admin/base-admin.html.twig' %}

{% block title %}

    {{'Entities.Abris.actions.edit'|trans}} "{{abris.name}}"
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_abris_index', {'listingTypeId':Abris.listingType.id}) }}">{{ 'Entities.Abris.title'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ abris }}</li>
    {% endblock breadcrumb %}

{% block body %}

    {% include 'admin/default/updatedByDiv.html.twig' with {'object': abris} %}
    <div class="col-md-12">
        {{ form_start(form) }}
        {% include 'admin/abris/_form.html.twig' %}
    </div>
{#    {{ form_widget(form) }}#}

<div class="btn-group mt-4">
    {#      <a class="btn btn-danger" href="{{path('admin_abris_delete', {'id':Abris.id })}}" data-toggle="tooltip" data-placement="top" title="{{'Generics.actions.remove'|trans()}}" data-container="body" onclick="return confirm('{{'Generics.messages.confirmationDeleteMessageQuestion'|trans}}');" >
             <i class="fas fa-trash-alt"></i>
          </a>#}
    <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans()}}" data-container="body" href="{{path('admin_abris_index')}}">
        <i class="fas fa-list"></i>&nbsp;<span>{{'Generics.actions.backToTheList'|trans()}}</span>
    </a>
    <input type="submit" class="btn btn-primary" value="{{'Generics.actions.save'|trans()}}">
</div>
{{ form_end(form) }}
{% endblock %}
