{% extends 'admin/base-admin.html.twig' %}

{% block title %}
    {{ 'Entities.Abris.actions.create_new'|trans }}
{% endblock title %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('admin_abris_index') }}">{{ 'Entities.Abris.title'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Entities.Abris.actions.create_new'|trans }}</li>
    {% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {% include 'admin/abris/_form.html.twig' %}
        </div>   
        {#            {{ form_widget(form) }}#}
    </div>
    <div class="mt-4 btn-group">
        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{ 'Generics.actions.backToTheList'|trans() }}" data-container="body" href="{{ path('admin_abris_index') }}">
            <i class="fas fa-list"></i>&nbsp;<span>{{'Generics.actions.backToTheList'|trans() }}</span>
        </a>
        <input type="submit" id="btn-submit-abris-form" class="btn btn-primary" value="{{ 'Generics.actions.create'|trans() }}">
        <input type="submit" class="btn btn-info" name="createAndContinue" value="{{ 'Generics.actions.createAndContinue'|trans() }}">
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
