{% extends 'admin/base-admin.html.twig' %}

{% block title %}
   {{ 'Entities.Dysfonctionnement.title'|trans }}
{% endblock %}

{% block breadcrumb %}
   <li class="breadcrumb-item active">{{ 'Entities.Dysfonctionnement.title'|trans }}</li>
{% endblock breadcrumb %}

{% block titleAction %}
   <a class="btn btn-primary" href="{{ path('dysfonctionnement_new') }}">
                  <i class="fas fa-plus"></i><span>&nbsp;{{ 'Entities.Dysfonctionnement.actions.create_new'|trans }}</span>
               </a>
{% endblock titleAction %}



{% block body %}

   <div class="row">
      <div class="col-md-12">

         <!-- /.panel-heading -->
         {% include 'admin/default/blocFilter.html.twig'  %}

         <form action="{{ path('dysfonctionnement_batch') }}"  method="POST">
            {% include 'admin/default/blockBatchActions.html.twig'  %}


            <div class="table-responsive">
               <table class="table table-striped table-condensed table-hover table-bordered table-sm">
                  <thead>
                     <tr>
                        <th id="sf_admin_list_batch_actions"><input id="sf_admin_list_batch_checkbox" type="checkbox" title="Check all" onclick="checkAll();"></th>
                        <th>{{ knp_pagination_sortable(pagination, 'Generics.fields.date'|trans, 'd.created') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Entities.Abris.fields.name'|trans, 'u.slug') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Entities.Dysfonctionnement.fields.natureDys'|trans, 'nd.slug') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Entities.Dysfonctionnement.fields.elementDys'|trans, 'ed.slug') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Entities.Dysfonctionnement.fields.statusDys'|trans, 'sd.slug') }} </th>

                        <th id="sf_admin_list_actions">{{'Generics.labels.actions'|trans()}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for entity in pagination %}

                        <tr>
                           <td><input type="checkbox" name="ids[]" value="{{ entity.id }}" class="sf_admin_batch_checkbox"></td>
                           <td><a href="{{ path('dysfonctionnement_edit', {'id': entity.id}) }}">{{ entity.created|date('d-m-Y') }} <i class="far fa-arrow-alt-circle-right"></i></a></td>
                           <td><a href="{{ path('admin_abris_edit', {'id': entity.abris.id}) }}">{{ entity.abris }} <i class="far fa-arrow-alt-circle-right"></i></a></td>
                           <td>
                              {{ entity.natureDys }}
                           </td>
                           <td>
                              {{ entity.elementDys }}
                           </td>
                           <td>
                              {{ entity.statusDys }}
                           </td>
                           <td>
                              <a class="btn btn-danger btn-sm ajax-request"
                                 href="{{ path('dysfonctionnement_delete', {'id':entity.id }) }}?_token={{ csrf_token('delete_dysfonctionnement' ~ entity.id)}}"
                                 data-action="delete"
                                 data-toggle="tooltip"
                                 data-placement="top"
                                 title="{{ 'Generics.actions.remove'|trans }}"
                                 data-container="body"
                                 data-confirm="{{ 'Generics.messages.confirmationDeleteMessageQuestion'|trans }}" >
                                 <i class="fas fa-trash-alt"></i>
                              </a>
                              <a class="btn btn-info btn-sm" 
                                 title="{{ 'Generics.actions.show'|trans }}"
                                 href="{{ path('dysfonctionnement_edit', {'id': entity.id}) }}">
                                 <i class="fas fa-eye"></i>
                              </a>   
                           </td>
                        </tr>
                     {% else %}
                        <tr>
                           <td colspan="7">{{ 'Generics.messages.no_records_found'|trans }}</td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </form>
         <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
         </div>
         <!-- /.panel-body -->
      </div>
   </div>


{% endblock %}
